<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>RegisterAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.register.RegisterAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterAction</servlet-name>
		<url-pattern>/servlet/RegisterAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuickRegisterAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.quickregister.QuickRegisterAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickRegisterAction</servlet-name>
		<url-pattern>/servlet/QuickRegisterAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.login.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/servlet/LoginAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUserInfoAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.userinfomanage.GetUserInfoAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserInfoAction</servlet-name>
		<url-pattern>/servlet/GetUserInfoAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyUserInfoAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.userinfomanage.ModifyUserInfoAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUserInfoAction</servlet-name>
		<url-pattern>/servlet/ModifyUserInfoAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPasswordAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.getpassword.GetPasswordAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPasswordAction</servlet-name>
		<url-pattern>/servlet/GetPasswordAction</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.zhaoyan.webserver.getpassword.GetPasswordRequestClearContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ResetPasswordAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.resetpassword.ResetPasswordAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPasswordAction</servlet-name>
		<url-pattern>/servlet/ResetPasswordAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoldAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.gold.GoldAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoldAction</servlet-name>
		<url-pattern>/servlet/GoldAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Update3rdAppAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.apps.Update3rdAppAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update3rdAppAction</servlet-name>
		<url-pattern>/servlet/Update3rdAppAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Get3rdAppInfoAction</servlet-name>
		<servlet-class>com.zhaoyan.webserver.apps.Get3rdAppInfoAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Get3rdAppInfoAction</servlet-name>
		<url-pattern>/servlet/Get3rdAppInfoAction</url-pattern>
	</servlet-mapping>
</web-app>